.posterCard{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    height: 300px;
    width: 200px;
    color: black;
}

.posterCard img {
    border-radius: 15px;
    height: 300px;
}

.bigPic {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 200px;
    height: 900px;
    width: 900px;
    border-radius: 15px;
    background-color: rgb(0, 154, 163, 0.7);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bigPic img {
    height: 700px;
    position: absolute;
}