.actorsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    height: 400px;
    width: 90%;
    padding-top: 15px;
    overflow-y: scroll;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding-left: 15px;
    background-color: rgba(65, 65, 65, 0.9);
}

.actorsBoxWhite {
    background-color: #f7ead6;

}