.moviesCard {
    position: relative;
    /*border: 1px solid black;*/
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 185px;
    height: 350px;
    background-color: snow;
}

.moviesCard img {
    border-radius: 15px 15px 0 0;
}

.infoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: darkgray;
}

.icon {
    color: black;
    height: 15px;
    width: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    /* Наложение цвета */
    background-color: aliceblue;
}

.noPoster {
    width: 185px;
    height: 278px;
}

.cardBox {
    width: 185px;
    height: 350px;
}
.moviesCard a {
    text-decoration: none;
    color: black;
}

/*Здесь мы создаем контейнер .container, внутри которого находится изображение <img> и див .overlay.
 Контейнеру .container мы задаем свойство position: relative, а диву .overlay мы задаем свойство position: absolute, чтобы разместить его поверх изображения.*/

/*Затем мы используем свойства top, left, width и height, чтобы установить размеры и позицию дива .overlay поверх изображения.
 В приведенном выше примере мы установили размеры .overlay в 100% ширины и высоты родительского элемента .container, чтобы полностью покрыть изображение.*/

/*Вы можете настроить цвет или прозрачность дива .overlay, используя свойство background-color.
 В примере мы используем rgba() для создания полупрозрачного цвета.*/