.moviesCard{

}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Наложение цвета */
    background-color: rgba(0, 0, 0, 0.5);
}

/*Здесь мы создаем контейнер .container, внутри которого находится изображение <img> и див .overlay.
 Контейнеру .container мы задаем свойство position: relative, а диву .overlay мы задаем свойство position: absolute, чтобы разместить его поверх изображения.*/

/*Затем мы используем свойства top, left, width и height, чтобы установить размеры и позицию дива .overlay поверх изображения.
 В приведенном выше примере мы установили размеры .overlay в 100% ширины и высоты родительского элемента .container, чтобы полностью покрыть изображение.*/

/*Вы можете настроить цвет или прозрачность дива .overlay, используя свойство background-color.
 В примере мы используем rgba() для создания полупрозрачного цвета.*/