.genres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 20%;
    height: 965px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding-left: 15px;
    background-color: rgba(65, 65, 65, 0.9);
}

.genresWhite {
    background-color: antiquewhite;
}