.actorCard{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 185px;
    height: 350px;
    background-color: snow;
    color: black;
}

.actorCard img {
    border-radius: 15px 15px 0 0;
}

.noPoster {
    width: 185px;
    height: 278px;
}