.movieInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contentBox {
    display: flex;
    flex-direction: column;
}

.imgInfoBox {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.textBox {
    display: flex;
    flex-direction: row;
}