.main {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    margin: 15px;
}

.mainBox {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    background-color: rgba(65, 65, 65, 0.9);
    border-radius: 15px;
}

.mainBoxWhite{
    background-color: rgba(255, 255, 255, 0.9);
}