.homePage {
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15px;
    gap: 15px;
}

.switchBox {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 65px;
    justify-content: space-around;
    align-items: center;
    border-radius: 27px;
    background-color: #029ea7;
}

.switch {
    display: flex;
    flex-direction: row;
    height: 55px;
    width: 150px;
    justify-content: space-around;
    align-items: center;
    border-radius: 27px;
    background-color: #01636b;
}

.carPop {
    height: 380px;
    width: 100%;

}

.topBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

